<p>Nome: <%= @lead.name %> </p>
<p>Sobrenome: <%= @lead.last_name %> </p>
<p>Email: <%= @lead.email %> </p>
<p>Empresa: <%= @lead.company %> </p>
<p>Cargo: <%= @lead.job_title %> </p>
<p>Telefone: <%= @lead.phone %> </p>
<p>Site: <%= @lead.website %> </p>