<!DOCTYPE html>
<html>
  <head>
    <title>Lead Manager</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <nav>
        <% if current_user %>
          Olá, <%= current_user.email %>!
          <%= link_to 'Sair', logout_path %>
        <% end %>
      </nav>
      <section>
        <% unless flash[:error].blank? %>
          <div class='flash-error'><%= flash[:error].html_safe %></div>
        <% end %>

        <% unless flash[:success].blank? %>
          <div class='flash-success'><%= flash[:success].html_safe %></div>
        <% end %>
      </section>
    </header>
    <section>
      <%= yield %>
    </section>
  </body>
</html>